<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lagou.dao.CourseContentMapper">


    <resultMap id="BaseResultMap" type="CourseSection">
        <id property="id" column="id"/>
        <result property="courseId" column="course_id"/>
        <result property="sectionName" column="section_name"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDe" column="is_de"/>
        <result property="orderNum" column="order_num"/>
        <result property="status" column="status"/>

        <collection property="lessonList" ofType="CourseLesson">
            <id property="id" column="lesson_id"/>
            <result property="courseId" column="course_id"/>
            <result property="sectionId" column="section_id"/>
            <result property="theme" column="theme"/>
            <result property="duration" column="duration"/>
            <result property="isFree" column="is_free"/>
            <result property="orderNum" column="order_num"/>
            <result property="status" column="status"/>
        </collection>
    </resultMap>


    <select id="findSectionAndLessonByCourseId" parameterType="int" resultMap="BaseResultMap">
        SELECT
            cs.*,
            cl.`id` lesson_id,
            cl.`course_id`,
            cl.`section_id`,
            cl.`theme`,
            cl.`duration`,
            cl.`is_free`,
            cl.`create_time`,
            cl.`update_time`,
            cl.`is_del`,
            cl.`order_num`,
            cl.`status`
        FROM course_section cs
                 LEFT JOIN course_lesson cl ON cs.`id` = cl.`section_id`
        WHERE
            cl.`course_id` = #{id} ORDER BY cs.`order_num`
    </select>

    <!--根据id查找课程信息-->
    <select id="findCourseByCourseId" parameterType="int" resultType="Course">
        select id, course_name from course where id = #{id}
    </select>

    <!--新增章节信息-->
    <insert id="saveSection" parameterType="CourseSection">
        insert into
            course_section(
            course_id,
            section_name,
            description,
            create_time,
            update_time,
            is_de,
            order_num,
            status
        )
            values(#{courseId}, #{sectionName}, #{description}, #{createTime}, #{updateTime}, #{isDe}, #{orderNum}, #{status})

    </insert>

    <update id="updateSection" parameterType="CourseSection">
        update course_section
        <trim prefix="set" suffixOverrides=",">
            <if test="sectionName != null and sectionName != ''">
                section_name = #{sectionName},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="orderNum != null and orderNum != '' or orderNum == 0">
                order_num = #{orderNum},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime}
            </if>
        </trim>
        <where >
            <if test="id != null and id != '' ">id = #{id}</if>
        </where>
    </update>

    <!--修改章节状态信息-->
    <update id="updateSectionStatus" parameterType="CourseSection">
        update course_section set status = #{status} where id = #{id}
    </update>

    <!--添加课时信息-->
    <insert id="saveLesson" parameterType="CourseLesson">
        insert into course_lesson(course_id, section_id, theme, duration, is_free, create_time, update_time, is_del, order_num, status)
        values(#{courseId}, #{sectionId}, #{theme}, #{duration}, #{isFree}, #{createTime}, #{updateTime}, #{isDel}, #{orderNum}, #{status})
    </insert>
</mapper>
