<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    注意事项，标签中的属性要与javabean里的属性名保持一致
-->
<mapper namespace="com.lagou.dao.CourseMapper">

    <!--根据条件查找课程信息-->
    <select id="findCourseByCondition" parameterType="CourseVO" resultType="Course">
        select id, course_name, price, sort_num, STATUS from course
        <where>
            <if test="true">
                and is_del != 1
            </if>

            <if test="courseName!=null and courseName!=''" >
                and course_name like concat('%', #{course_name}, '%')
            </if>
            <if test="status!=null and status != ''">
                and STATUS = #{STATUS}
            </if>
        </where>
    </select>

    <!--保存课程信息-->
    <insert id="saveCourse" parameterType="Course">
        <selectKey order="AFTER" keyColumn="id" keyProperty="id" resultType="int">
            select LAST_INSERT_ID();
        </selectKey>
        INSERT INTO course(
        course_name,
        brief,
        preview_first_field,
        preview_second_field,
        course_img_url,
        course_list_img,
        sort_num,
        price,
        discounts,
        sales,
        discounts_tag,
        course_description_mark_down,
        create_time,
        update_time
        ) VALUES(#{courseName},#{brief},#{previewFirstField},#{previewSecondField},#{courseImgUrl},
        #{courseListImg},#{sortNum},#{price},#{discounts},#{sales},#{discountsTag},#{courseDescriptionMarkDown},
        #{createTime},#{updateTime});
    </insert>

    <!--保存老师信息-->
    <insert id="saveTeacher" parameterType="Teacher">
        INSERT INTO teacher(
            course_id,
            teacher_name,
            POSITION,
            description,
            create_time,
            update_time
        ) VALUES(#{courseId},#{teacherName},#{position},#{description},#{createTime},#{updateTime});
    </insert>

    <!--根据id查找课程信息-->
    <select id="findCourseById" parameterType="int" resultType="CourseVO">
        select
            course_name,
            brief,
            teacher_name,
            POSITION,
            description,
            preview_first_field,
            preview_second_field,
            course_img_url,
            course_list_img,
            sort_num,
            discounts,
            price,
            sales,
            discounts_tag,
            course_description_mark_down
        from course left join teacher on course.id = teacher.course_id where course.id = #{id};
    </select>

    <update id="updateCourse" parameterType="Course">
        update course
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseName != null and courseName != ''">
                course_name = #{courseName},
            </if>
            <if test="brief != null and brief != ''">
                brief=#{brief},
            </if>
            <if test="previewFirstField != null and previewFirstField != ''">
                preview_first_field=#{previewFirstField},
            </if>
            <if test="previewSecondField != null and previewSecondField != ''">
                preview_second_field=#{previewSecondField},
            </if>
            <if test="courseImgUrl != null and courseImgUrl != ''">
                course_img_url=#{courseImgUrl},
            </if>
            <if test="courseListImg != null and courseListImg != ''">
                course_list_img=#{courseListImg},
            </if>
            <if test="sortNum != null and sortNum != ''">
            sort_num=#{sortNum},
            </if>
            <if test="price != null and price != ''">
                price=#{price},
            </if>
            <if test="discounts != null and discounts != ''">
                discounts=#{discounts},
            </if>
            <if test="sales != null and sales != '' or sales==0">
                sales=#{sales},
            </if>
            <if test="discountsTag != null and discountsTag != ''">
                discounts_tag=#{discountsTag},
            </if>
            <if test="courseDescriptionMarkDown != null and
courseDescriptionMarkDown != ''">
                course_description_mark_down=#{courseDescriptionMarkDown},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime},
            </if>
        </trim>
        <where>
            <if test="id!=null and id != '' ">id=#{id}</if>
        </where>
    </update>

    <update id="updateTeacher" parameterType="Teacher">
        update teacher
        <trim prefix="SET" suffixOverrides=",">
            <if test="teacherName != null and teacherName != ''">
                teacher_name = #{teacherName},
            </if>
            <if test="position != null and position != ''">
                position = #{position},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime}
            </if>
        </trim>
        <where>
            <if test="courseId != null and courseId != '' ">
                course_id = #{courseId}
            </if>
        </where>
    </update>
    
    <update id="updateCourseStatus" parameterType="course">
        update course set status = #{status} where id = #{id}
    </update>



</mapper>