<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lagou.dao.PromotionAdMapper">

    <resultMap id="ad_space" type="PromotionAd">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="spaceId" column="spaceId"></result>
        <result property="keyword" column="keyword"></result>
        <result property="htmlContent" column="htmlContent"></result>
        <result property="text" column="text"></result>
        <result property="link" column="link"></result>
        <result property="startTime" column="startTime"></result>
        <result property="endTime" column="endTime"></result>
        <result property="createTime" column="createTime"></result>
        <result property="updateTime" column="updateTime"></result>
        <result property="status" column="status"></result>
        <result property="priority" column="priority"></result>
        <result property="img" column="img"></result>
        <!--配置嵌套查询的对象-->
        <association property="promotionSpace" select="com.lagou.dao.PromotionSpaceMapper.findPromotionSpaceById" column="spaceId" javaType= "PromotionSpace"></association>

    </resultMap>


    <!--分页查询广告信息-->
    <select id="findAllPromotionAdByPage" resultMap="ad_space">
        select * from promotion_ad
    </select>


    <!--新增广告信息-->
    <insert id="savePromotionAd" parameterType="com.lagou.domain.PromotionAd" >
        INSERT INTO promotion_ad VALUES(NULL,#{name},#{spaceId},#{keyword},#{htmlContent},#{text},#{link},#{startTime},#{endTime},#{createTime},#{updateTime},#{status},#{priority},#{img});
    </insert>
    <!--更新广告信息-->
    <update id="updatePromotionAd" parameterType="PromotionAd">
        update promotion_ad
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="spaceId != null and spaceId != ''">
                spaceId = #{spaceId},
            </if>
            <if test="link != null">
                link=#{link},
            </if>
            <if test="status != null and status != '' or status == 0">
                status=#{status},
            </if>
            <if test="img != null">
                img=#{img},
            </if>
            <if test="text != null">
                text=#{text},
            </if>
            <if test="startTime != null">
                startTime=#{startTime},
            </if>
            <if test="endTime != null">
                endTime=#{endTime},
            </if>
            <if test="updateTime != null">
                updateTime=#{updateTime},
            </if>
        </trim>
        <where>
            <if test="id != null and id != '' ">id = #{id}</if>
        </where>
    </update>

    <!--根据id查找广告信息-->
    <select id="findPromotionAdById" parameterType="int" resultType="PromotionAd">
        select * from promotion_ad where id = #{id}
    </select>

    <!--根据id修改广告状态-->
    <update id="updatePromotionAdStatus" parameterType="PromotionAd">
        update promotion_ad set status = #{status}, updateTime = #{updateTime} where id = #{id}
    </update>
</mapper>