<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lagou.dao.RoleMapper">
    <select id="findAllRole" parameterType="Role" resultType="Role">
        select * from roles
        <where>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
        </where>
    </select>
    <!--新增或更新-->
    <insert id="saveRole" parameterType="role">
        insert into roles(code, name, description, create_time, update_time, create_by, update_by)
        values(code, name, description, createdTime, updatedTime, createdBy, updatedBy)
    </insert>

    <update id="updateRole" parameterType="role">
        update roles
        <trim prefix="set" suffixOverrides=",">
            <if test="code!= null and code != ''">
                code = #{code},
            </if>
            <if test="name!= null and name != ''">
                name = #{name},
            </if>
            <if test="description!= null and description != ''">
                description = #{description},
            </if>
            <if test="create_time!= null and create_time != ''">
                create_time = #{create_time},
            </if>
            <if test="update_time!= null and update_time != ''">
                update_time = #{update_time},
            </if>
            <if test="create_by!= null and create_by != ''">
                create_by = #{create_by},
            </if>
            <if test="update_by!= null and update_by != ''">
                update_by = #{update_by},
            </if>
        </trim>
        <where>
            <if test="id != null and id != ''">
                id = #{id}
            </if>
        </where>
    </update>


    <select id="findMenuByRoleId" parameterType="int" resultType="string">
        SELECT m.`id` FROM roles r LEFT JOIN role_menu_relation rm ON r.`id` = rm.`role_id` LEFT JOIN menu m ON rm.`menu_id` = m.`id` WHERE r.`id` = #{id};
    </select>

    <!--为角色分配菜单-->
    <insert id="RoleContextMenu" parameterType="Role_menu_relation">
        insert into role_menu_relation(menu_id, role_id, created_time, updated_time, created_by, updated_by) values(#{menuId},#{roleId},#{createdTime},#{updatedTime},#{createdBy},#{updatedby})
    </insert>

    <!--清空旧的关系-->
    <delete id="deleteRoleRelation" parameterType="int">
        delete from role_menu_relation where role_id = #{roleId}
    </delete>
    
    <!--根据id删除角色-->
    <delete id="deleteRole" parameterType="int">
        delete from roles where id = #{id}
    </delete>
    
    
    
</mapper>